.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: 0.5s all ease-in-out;
}
  
    .box {
       position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: black;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    overflow: auto;
    transition: 0.5s all ease-in-out;
}

.poster-image {
  width: auto;
  height: auto;
  max-height: 63vh;
  border-radius: 25px;
}

.try {
  overflow: hidden;
  border-radius: 25px;
  
}
.hover-effect {
  
  width: 100%;
        transition: 0.5s all ease-in-out;
}


.hover-effect:hover {
  transform: scale(1.1);
  
    filter: blur(2px);
}

.movie-title {
   text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}

.movie-backdrop {
    width: 100%;
    height: 100%; 
  object-fit: contain;
}

.movie-name {
  
  font-size: 3rem;
  font-weight: bold;
}

.overview{
  font-size: 1.2rem;
}

.rating{
  font-size: 1.5rem;
}

.genre-box {
  border-radius: 20px;
  background-color: rgb(63, 63, 63);
  margin: .4rem;
  font-size: 1.1rem;
  font-weight: bold;

}

@media (max-width: 1199px){
  .poster-image {
    width: auto;
  height: auto;
  max-height: 50vh;
  border-radius: 25px;
}
.movie-name {
  
  font-size: 2rem;
  font-weight: bold;
}

.overview{
  font-size: 1rem;
}
.genre-box {
  border-radius: 10px;
  background-color: rgb(63, 63, 63);
  margin: .3rem;
  font-size: 0.8rem;
  font-weight: bold;
  

}
.genre-try {
  display: flex;
  flex-wrap: wrap;
  
}


.rating{
  font-size: 1rem;
}

  
}

@media (max-width: 899px){
  .poster-image{
    display: none;
  }
}